div {
  display: inline-block;
}

span:not(.before):not(.after) {
  display: inline-block;
}

.ok {
  &.normalisation {
    border-bottom: 1px dotted #000;
  }
}

.del {
  color: var(--color-red);
  text-decoration: line-through;
  font-weight: 700;
}

.ins {
  color: var(--color-green);
  font-weight: 700;
}

.sub {
  font-weight: 700;
  color: var(--color-blue);
  &.full {
    // background: rgba(var(--color-blue-rgb), 0.5);
  }

  &.capitalisation {
    color: var(--color-blue);
    border-bottom: 2px solid var(--color-blue);
  }

  &.compound-word {
    font-weight: 400;
    color: unset;
    border-bottom: 2px solid var(--color-blue);
  }

  &.prefix,
  &.suffix,
  &.affix,
  &.stemmer {
    font-weight: 400;
    color: unset;
    border-bottom: 2px solid var(--color-indigo);
    &.highlight {
      font-weight: 700;
      color: var(--color-blue);
    }
  }

  &.homophone {
    // background: rgba(var(--color-blue-rgb), 0.5);
    border-bottom: 2px solid var(--color-purple);
  }

  &.transposition {
    color: yellow;
  }
}

.badge {
  font-weight: bold;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  display: inline-block;
  font-size: 0.7rem;
}
